# 1. 이디야커피와 스타벅스 커피의 상관성

## 1. 스타벅스 커피 매장 확인

- 스타벅스 홈페이지 주소 : https://www.starbucks.co.kr/
- 홈페이지 -> STORE 탭 -> 매장 찾기 -> 지역 검색 -> 서울 -> 전체

In [15]:
import pandas as pd
import time
from selenium import webdriver
from bs4 import BeautifulSoup

In [34]:
# 홈페이지 셀레니움 이용해서 들어가기
sb_url = "https://www.starbucks.co.kr/"
driver = webdriver.Chrome("../driver/chromedriver.exe")
driver.implicitly_wait(10)
driver.get(sb_url)

C:\Users\ThinkBook\AppData\Local\Temp\ipykernel_14200\3298818719.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("../driver/chromedriver.exe")

In [35]:
# STORE 탭 선택
driver.find_element_by_css_selector("#gnb > div > nav > div > ul > li.gnb_nav03 > h2 > a").click()

C:\Users\ThinkBook\AppData\Local\Temp\ipykernel_14200\380368691.py:2: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  driver.find_element_by_css_selector("#gnb > div > nav > div > ul > li.gnb_nav03 > h2 > a").click()

In [36]:
# 매장 찾기
driver.find_element_by_css_selector(".store_bn1_btn > a").click()

C:\Users\ThinkBook\AppData\Local\Temp\ipykernel_14200\2964926940.py:2: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  driver.find_element_by_css_selector(".store_bn1_btn > a").click()

In [37]:
# 지역검색
driver.find_element_by_css_selector("header.loca_search > h3 > a").click()

C:\Users\ThinkBook\AppData\Local\Temp\ipykernel_14200\3655466895.py:2: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  driver.find_element_by_css_selector("header.loca_search > h3 > a").click()

In [38]:
# 서울 선택
driver.find_element_by_css_selector(".loca_step1_cont > ul > li:nth-child(1) > a").click()

C:\Users\ThinkBook\AppData\Local\Temp\ipykernel_14200\593297878.py:2: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  driver.find_element_by_css_selector(".loca_step1_cont > ul > li:nth-child(1) > a").click()

In [39]:
# 서울 전체 구 선택
driver.find_element_by_css_selector("#mCSB_2_container > ul > li:nth-child(1) > a").click()

C:\Users\ThinkBook\AppData\Local\Temp\ipykernel_14200\1387654136.py:2: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  driver.find_element_by_css_selector("#mCSB_2_container > ul > li:nth-child(1) > a").click()

In [10]:
# BeautifulSoup 이용
request = driver.page_source
sb_soup = BeautifulSoup(request, "html.parser")

In [11]:
sb_store_list = sb_soup.select(".quickSearchResultBoxSidoGugun > li.quickResultLstCon")
sb_store_list[0].text

' 역삼아레나빌딩   서울특별시 강남구 언주로 425 (역삼동)1522-3232 리저브 매장 2번'

In [11]:
# 매장이름, BeautifulSoup 이용
sb_store_list[0].select_one("strong").text.strip()

'역삼아레나빌딩'

In [16]:
# 매장 주소, BeautifulSoup 이용
str(sb_store_list[0].select('p')[0]).split('<br/>')[0].split('>')[1]

'서울특별시 강남구 언주로 425 (역삼동)'

In [26]:
# 구 이름, BeautifulSoup 이용
str(sb_store_list[200].select('p')[0]).split(' ')[2]

'마포구'

In [24]:
# BeautifulSoup 이용
request = driver.page_source
sb_soup = BeautifulSoup(request, "html.parser")

In [28]:
soeul_list = sb_soup.select('#mCSB_3_container ul li')
name = soeul_list[0]['data-name']
lat = soeul_list[0]['data-lat']
lng = soeul_list[0]['data-long']
address = soeul_list[0].select_one('p').text[:-9]

name, lat, lng, address

('역삼아레나빌딩', '37.501087', '127.043069', '서울특별시 강남구 언주로 425 (역삼동)')

In [40]:
# 스타벅스 전체 데이터 수집
from tqdm import tqdm_notebook
datas = []

for content in tqdm_notebook(soeul_list):
    sb_name = content['data-name']
    sb_address = content.select_one('p').text[:-9]
    sb_lat = content['data-lat']    
    sb_long = content['data-long']
    datas.append({
        'name' : sb_name,
        'address' : sb_address,
        'lat' : sb_lat,
        'lng' : sb_long
    })
driver.close()
df = pd.DataFrame(datas)
df.tail()

C:\Users\ThinkBook\AppData\Local\Temp\ipykernel_14200\565897616.py:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for content in tqdm_notebook(soeul_list):

  0%|          | 0/577 [00:00<?, ?it/s]

,name,address,lat,lng
572,중랑구청,서울특별시 중랑구 신내로 72,37.60538908,127.0957558
573,사가정역,서울특별시 중랑구 면목로 310,37.579594,127.087966
574,상봉역,서울특별시 중랑구 망우로 307 (상봉동),37.59689,127.08647
575,묵동,"서울특별시 중랑구 동일로 952 (묵동, 로프트원 태릉입구역) 1층",37.615368,127.076633
576,중화역,"서울특별시 중랑구 봉화산로 35 1,2층",37.60170912407773,127.07841136432036

In [45]:
# 구 컬럼 추가
df['gu'] = df['address'][idx].split()[1]
for idx, rows in df.iterrows():
    rows['gu'] = df['address'][idx].split()[1]

In [47]:
df.head()

      name                     address        lat         lng   gu
0  역삼아레나빌딩     서울특별시 강남구 언주로 425 (역삼동)  37.501087  127.043069  강남구
1   논현역사거리    서울특별시 강남구 강남대로 538 (논현동)  37.510178  127.022223  강남구
2  신사역성일빌딩    서울특별시 강남구 강남대로 584 (논현동)  37.514132  127.020563  강남구
3   국기원사거리    서울특별시 강남구 테헤란로 125 (역삼동)  37.499517  127.031495  강남구
4  대치재경빌딩R  서울특별시 강남구 남부순환로 2947 (대치동)  37.494668  127.062583  강남구

In [48]:
df.to_csv("./starbucks/seoul_starbucks.csv", encoding="utf-8")

In [12]:
# 스타벅스 전체 데이터 크롤링
sb_datas = [] 
for sb_data in sb_store_list:
    sb_name = sb_data.select_one("strong").text.strip()
    sb_gu = str(sb_data.select('p')[0]).split(' ')[2]
    sb_address = str(sb_data.select('p')[0]).split('<br/>')[0].split('>')[1]
    sb_lat = 

    sb_datas.append({
        "name": sb_name, 
        "gu": sb_gu, 
        "address": sb_address,
        
    })
sb_df = pd.DataFrame(sb_datas)
sb_df.to_csv("./starbucks/seoul_starbucks.csv", encoding="utf-8")
print("done!")

done!

In [13]:
sb_df = pd.read_csv('starbucks/seoul_starbucks..csv')
sb_df.tail()

     Unnamed: 0  매장이름 구 이름                                  매장 주소
572         572  중랑구청  중랑구                       서울특별시 중랑구 신내로 72
573         573  사가정역  중랑구                      서울특별시 중랑구 면목로 310
574         574   상봉역  중랑구                서울특별시 중랑구 망우로 307 (상봉동)
575         575    묵동  중랑구  서울특별시 중랑구 동일로 952 (묵동, 로프트원 태릉입구역) 1층
576         576   중화역  중랑구                 서울특별시 중랑구 봉화산로 35 1,2층

## 2. 이디야 매장 확인

- 이디야 홈페이지 주소 : https://www.ediya.com/
- 홈페이지 -> 매장 찾기 -> 주소탭 -> 서울의 모든 구 입력 받아 확인

In [49]:
edi_url = "https://www.ediya.com/"
driver = webdriver.Chrome("../driver/chromedriver.exe")
driver.implicitly_wait(10)
driver.get(edi_url)
driver.maximize_window()

C:\Users\ThinkBook\AppData\Local\Temp\ipykernel_14200\3852113081.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("../driver/chromedriver.exe")

In [50]:
# 매장 찾기
driver.find_element_by_css_selector(".top_members > li.store > a").click()

C:\Users\ThinkBook\AppData\Local\Temp\ipykernel_14200\1184742427.py:2: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  driver.find_element_by_css_selector(".top_members > li.store > a").click()

In [51]:
# 주소 탭
driver.find_element_by_css_selector(".top_members > li.store > a").click()
driver.find_element_by_css_selector(".store_search_pop > ul > li:nth-child(2) > a").click()

C:\Users\ThinkBook\AppData\Local\Temp\ipykernel_14200\1435052975.py:2: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  driver.find_element_by_css_selector(".store_search_pop > ul > li:nth-child(2) > a").click()

In [196]:
# 구 입력 및 검색
search = driver.find_element_by_css_selector("#keyword")
search.send_keys("강남구")
driver.find_element_by_css_selector("#keyword_div > form > button").click()

C:\Users\ThinkBook\AppData\Local\Temp\ipykernel_22224\1347668734.py:2: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  search = driver.find_element_by_css_selector("#keyword")
C:\Users\ThinkBook\AppData\Local\Temp\ipykernel_22224\1347668734.py:4: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  driver.find_element_by_css_selector("#keyword_div > form > button").click()

In [188]:
# BeautifulSoup 이용
request = driver.page_source
edi_soup = BeautifulSoup(request, "html.parser")

In [197]:
# 부모 태그
edi_store_list = edi_soup.select("#placesList > li > a > dl")
#placesList > li:nth-child(1) > a > dl > dt
edi_store_list

[<dl><dt>강남센트럴시티점</dt> <dd>서울 서초구 신반포로 176 (반포동, 센트럴시티)</dd></dl>,
 <dl><dt>교대역점</dt> <dd>서울 서초구 서초대로56길 22 (서초동, 성운빌딩)</dd></dl>,
 <dl><dt>교육개발원사거리점</dt> <dd>서울 서초구 바우뫼로 180 (양재동, 신송빌딩)</dd></dl>,
 <dl><dt>구반포역점</dt> <dd>서울 서초구 신반포로 50 (반포동, 구반포상가)</dd></dl>,
 <dl><dt>국립중앙도서관디지털관점</dt> <dd>서울 서초구 반포대로 201 (반포동, 국립중앙도서관)</dd></dl>,
 <dl><dt>국립중앙도서관본관점</dt> <dd>서울 서초구 반포대로 201 (반포동, 국립중앙도서관)</dd></dl>,
 <dl><dt>남부터미널점</dt> <dd>서울 서초구 서초동 </dd></dl>,
 <dl><dt>내방역점</dt> <dd>서울 서초구 서초대로 108 (방배동, 삼보빌딩)</dd></dl>,
 <dl><dt>반포지하상가점</dt> <dd>서울 서초구 신반포로 지하 200 (잠원동, 강남터미널지하쇼핑몰)</dd></dl>,
 <dl><dt>방배백석점</dt> <dd>서울 서초구 방배로 42 (방배동)</dd></dl>,
 <dl><dt>방배역점</dt> <dd>서울 서초구 방배로 87 (방배동)</dd></dl>,
 <dl><dt>방배중앙점</dt> <dd>서울 서초구 동광로 1 (방배동, 대양빌딩)</dd></dl>,
 <dl><dt>서울고교점</dt> <dd>서울 서초구 서초동 </dd></dl>,
 <dl><dt>서울고속버스터미널점</dt> <dd>서울 서초구 신반포로 194 (반포동, 강남고속버스터미널)</dd></dl>,
 <dl><dt>서울교대점</dt> <dd>서울 서초구 서초동 </dd></dl>,
 <dl><dt>서초법조타운점</dt> <dd>서울 서초구 서초중앙로24길 7 (서초동, 동천빌딩)</dd></dl>,
 <dl><dt>서초역점</dt> <dd>서울 서초구 서초동 </dd></dl>,
 <dl><dt>서초우면중앙점</dt> <dd>서울 서초구 양재대로2길 100-11 (우면동, 서초 리슈빌S)</dd></dl>,
 <dl><dt>서초점</dt> <dd>서울 서초구 서초대로48길 16 (서초동)</dd></dl>,
 <dl><dt>신논현역점 </dt> <dd>서울 서초구 강남대로79길 10 (반포동)</dd></dl>,
 <dl><dt>양재언남점</dt> <dd>서울 서초구 동산로 60 (양재동, 화성빌딩)</dd></dl>,
 <dl><dt>양재점</dt> <dd>서울 서초구 남부순환로347길 38 (서초동)</dd></dl>,
 <dl><dt>양재중앙점</dt> <dd>서울 서초구 강남대로 221 (양재동, 양재역 환승주차장)</dd></dl>,
 <dl><dt>양재하나로마트점</dt> <dd>서울 서초구 청계산로 10 (양재동, 농협하나로클럽)</dd></dl>,
 <dl><dt>예술의전당점</dt> <dd>서울 서초구 반포대로 32 (서초동, 원일빌딩)</dd></dl>,
 <dl><dt>우면동점</dt> <dd>서울 서초구 바우뫼로 20 (우면동, 고호빌딩)</dd></dl>,
 <dl><dt>잠원논현점</dt> <dd>서울 서초구 신반포로 333 (잠원동)</dd></dl>,
 <dl><dt>청계산입구역점</dt> <dd>서울 서초구 신원동</dd></dl>,
 <dl><dt>포이점</dt> <dd>서울 서초구 마방로10길 42 (양재동)</dd></dl>,
 <dl><dt>함지박사거리점</dt> <dd>서울 서초구 방배로 234 우신빌딩</dd></dl>]

In [198]:
# 구별 매장 이름
edi_store_list[5].select_one("dt").text

'국립중앙도서관본관점'

In [200]:
# 구별 주소
edi_store_list[5].select_one("dd").text

'서울 서초구 반포대로 201 (반포동, 국립중앙도서관)'

In [201]:
# 구 이름
edi_store_list[5].select_one("dd").text.split()[1]

'서초구'

In [202]:
search.clear()

In [53]:
# 서울시 전체 구명
seoul = pd.read_excel("./starbucks/seoul_starbucks..xlsx")
seoul.head()

   Unnamed: 0     매장이름 구 이름                       매장 주소
0           0  역삼아레나빌딩  강남구     서울특별시 강남구 언주로 425 (역삼동)
1           1   논현역사거리  강남구    서울특별시 강남구 강남대로 538 (논현동)
2           2  신사역성일빌딩  강남구    서울특별시 강남구 강남대로 584 (논현동)
3           3   국기원사거리  강남구    서울특별시 강남구 테헤란로 125 (역삼동)
4           4  대치재경빌딩R  강남구  서울특별시 강남구 남부순환로 2947 (대치동)

In [54]:
seoul_gu = seoul["구 이름"].unique()
seoul_gu

array(['강남구', '강북구', '강서구', '관악구', '광진구', '금천구', '노원구', '도봉구', '동작구',
       '마포구', '서대문구', '서초구', '성북구', '송파구', '양천구', '영등포구', '은평구', '종로구',
       '중구', '강동구', '구로구', '동대문구', '성동구', '용산구', '중랑구'], dtype=object)

In [89]:
# 강서구 예외 발생해서 제외하고 함

In [93]:
!mkdir ediya

In [214]:
# 이디야 전체 데이터 크롤링
edi_datas = [] 
request = driver.page_source
edi_soup = BeautifulSoup(request, "html.parser")
for gu in seoul_gu :
    if gu == "강서구" or gu == "중구":
        pass
    else:
        driver.find_element_by_css_selector("#keyword").send_keys(gu)
        driver.find_element_by_css_selector("#keyword_div > form > button").click()
        request = driver.page_source
        edi_soup = BeautifulSoup(request, "html.parser")
        edi_store_list = edi_soup.select("#placesList > li > a > dl")
        
        for edi_store in edi_store_list:
            edi_store_name = edi_store.select_one("dt").text
            edi_address = edi_store.select_one("dd").text
            edi_gu = edi_store.select_one("dd").text.split()[1]
            edi_datas.append({
                "매장이름": edi_store_name, 
                "구 이름": edi_gu, 
                "매장 주소": edi_address 
            })
        time.sleep(3)        
        driver.find_element_by_css_selector("#keyword").clear()
        time.sleep(3)
edi_df = pd.DataFrame(edi_datas)
edi_df.to_excel("./ediya/seoul_ediya.xlsx", encoding="utf-8")
print("done!")

C:\Users\ThinkBook\AppData\Local\Temp\ipykernel_22224\1609548888.py:9: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  driver.find_element_by_css_selector("#keyword").send_keys(gu)
C:\Users\ThinkBook\AppData\Local\Temp\ipykernel_22224\1609548888.py:10: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  driver.find_element_by_css_selector("#keyword_div > form > button").click()
C:\Users\ThinkBook\AppData\Local\Temp\ipykernel_22224\1609548888.py:25: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  driver.find_element_by_css_selector("#keyword").clear()

done!

In [217]:
ediya = pd.read_excel("./ediya/seoul_ediya.xlsx")
ediya["구 이름"].unique()

array(['중랑구', '강남구', '강북구', '관악구', '광진구', '금천구', '노원구', '도봉구', '동작구',
       '마포구', '서대문구', '서초구', '성북구', '송파구', '양천구', '영등포구', '은평구', '종로구',
       '강동구', '구로구', '동대문구', '성동구', '용산구'], dtype=object)

In [60]:
starbucks_df = pd.read_csv('../EDA_project_1/starbucks/seoul_starbucks.csv', index_col=0)
gu_list = list(starbucks_df['gu'].unique())
gu_list = [str('서울 ') + gu for gu in gu_list]
gu_list[:3]

['서울 강남구', '서울 강북구', '서울 강서구']

In [87]:
# 전체 데이터 수집
edi_url = "https://www.ediya.com/"
driver = webdriver.Chrome("../driver/chromedriver.exe")
driver.implicitly_wait(10)
driver.get(edi_url)

driver.find_element_by_css_selector(".top_members > li.store > a").click()
driver.find_element_by_css_selector(".store_search_pop > ul > li:nth-child(2) > a").click()
search_keyword = driver.find_element_by_css_selector("#keyword")
search_button = driver.find_element_by_css_selector("#keyword_div > form > button")
time.sleep(1)

datas = []

for gu in gu_list:
    search_keyword.clear()
    search_keyword.send_keys(gu)
    search_button.click()
    time.sleep(1)
    
    html = driver.page_source
    ed_soup = BeautifulSoup(html, 'html.parser')
    contents = ed_soup.select('#placesList li')
                              
    for content in contents:
        name = content.select_one('dt').text
        address = content.select_one('dd').text
        datas.append({
            'name' : name,
            'address' : address
        })
driver.close()
df = pd.DataFrame(datas)
df.tail()

C:\Users\ThinkBook\AppData\Local\Temp\ipykernel_14200\2532081692.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("../driver/chromedriver.exe")
C:\Users\ThinkBook\AppData\Local\Temp\ipykernel_14200\2532081692.py:7: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  driver.find_element_by_css_selector(".top_members > li.store > a").click()
C:\Users\ThinkBook\AppData\Local\Temp\ipykernel_14200\2532081692.py:8: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  driver.find_element_by_css_selector(".store_search_pop > ul > li:nth-child(2) > a").click()
C:\Users\ThinkBook\AppData\Local\Temp\ipykernel_14200\2532081692.py:9: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  search_keyword = driver.find_element_by_css_selector("#keyword")
C:\Users\ThinkBook\AppData\Local\Temp\ipykernel_14200\2532081692.py:10: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  search_button = driver.find_element_by_css_selector("#keyword_div > form > button")

       name                      address
713  중랑교차로점         서울 중랑구 동일로 683 (면목동)
714    중랑역점         서울 중랑구 망우로 198 (상봉동)
715    중화동점       서울 중랑구 동일로129길 1 (중화동)
716    중화역점           서울 중랑구 동일로 815, 1층
717   화랑대역점  서울 중랑구 신내로25가길 2 (묵동, 현동학당)

In [88]:
df['gu'] = df['address'][1].split(' ')[1]
for idx, rows in df.iterrows():
    rows['gu'] = df['address'][idx].split(' ')[1]
df['gu'].unique()
df.tail()

       name                      address   gu
713  중랑교차로점         서울 중랑구 동일로 683 (면목동)  중랑구
714    중랑역점         서울 중랑구 망우로 198 (상봉동)  중랑구
715    중화동점       서울 중랑구 동일로129길 1 (중화동)  중랑구
716    중화역점           서울 중랑구 동일로 815, 1층  중랑구
717   화랑대역점  서울 중랑구 신내로25가길 2 (묵동, 현동학당)  중랑구

In [89]:
import googlemaps

gmaps_key = 'AIzaSyCWlUwfypvsqDlnrURNLzN_QrmPPGCYxaM'
gmaps = googlemaps.Client(key=gmaps_key)

In [90]:
import numpy as np

df['lat'] = np.nan
df['lng'] = np.nan

In [91]:
df.tail()

       name                      address   gu  lat  lng
713  중랑교차로점         서울 중랑구 동일로 683 (면목동)  중랑구  NaN  NaN
714    중랑역점         서울 중랑구 망우로 198 (상봉동)  중랑구  NaN  NaN
715    중화동점       서울 중랑구 동일로129길 1 (중화동)  중랑구  NaN  NaN
716    중화역점           서울 중랑구 동일로 815, 1층  중랑구  NaN  NaN
717   화랑대역점  서울 중랑구 신내로25가길 2 (묵동, 현동학당)  중랑구  NaN  NaN

In [92]:
for idx, rows in tqdm_notebook(df.iterrows()):
    address = rows['address']
    tmp = gmaps.geocode(address, language='ko')
    tmp[0].get('formatted_address')
    
    lat = tmp[0].get('geometry')['location']['lat']
    lng = tmp[0].get('geometry')['location']['lng']
    
    df.loc[idx, 'lat'] = lat
    df.loc[idx, 'lng'] = lng

C:\Users\ThinkBook\AppData\Local\Temp\ipykernel_14200\3712302288.py:1: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for idx, rows in tqdm_notebook(df.iterrows()):

0it [00:00, ?it/s]

In [93]:
df

            name                      address   gu        lat         lng
0        강남YMCA점                   서울 강남구 논현동  강남구  37.513530  127.031534
1    강남구청역아이티웨딩점  서울 강남구 학동로 338 (논현동, 강남파라곤)  강남구  37.516466  127.040419
2        강남논현학동점      서울 강남구 논현로131길 28 (논현동)  강남구  37.514227  127.028666
3          강남대치점   서울 강남구 역삼로 415 (대치동, 성진빌딩)  강남구  37.504296  127.063053
4          강남도산점      서울 강남구 도산대로37길 20 (신사동)  강남구  37.522241  127.031481
..           ...                          ...  ...        ...         ...
713       중랑교차로점         서울 중랑구 동일로 683 (면목동)  중랑구  37.591397  127.079841
714         중랑역점         서울 중랑구 망우로 198 (상봉동)  중랑구  37.593212  127.074866
715         중화동점       서울 중랑구 동일로129길 1 (중화동)  중랑구  37.601912  127.086553
716         중화역점           서울 중랑구 동일로 815, 1층  중랑구  37.603092  127.078876
717        화랑대역점  서울 중랑구 신내로25가길 2 (묵동, 현동학당)  중랑구  37.619451  127.084160

[718 rows x 5 columns]

In [94]:
df.to_csv('../EDA_project_1/ediya/seoul_ediya.csv', encoding='utf-8')

In [95]:
ediya_df = pd.read_csv('../EDA_project_1/ediya/seoul_ediya.csv', index_col=0)
ediya_df

            name                      address   gu        lat         lng
0        강남YMCA점                   서울 강남구 논현동  강남구  37.513530  127.031534
1    강남구청역아이티웨딩점  서울 강남구 학동로 338 (논현동, 강남파라곤)  강남구  37.516466  127.040419
2        강남논현학동점      서울 강남구 논현로131길 28 (논현동)  강남구  37.514227  127.028666
3          강남대치점   서울 강남구 역삼로 415 (대치동, 성진빌딩)  강남구  37.504296  127.063053
4          강남도산점      서울 강남구 도산대로37길 20 (신사동)  강남구  37.522241  127.031481
..           ...                          ...  ...        ...         ...
713       중랑교차로점         서울 중랑구 동일로 683 (면목동)  중랑구  37.591397  127.079841
714         중랑역점         서울 중랑구 망우로 198 (상봉동)  중랑구  37.593212  127.074866
715         중화동점       서울 중랑구 동일로129길 1 (중화동)  중랑구  37.601912  127.086553
716         중화역점           서울 중랑구 동일로 815, 1층  중랑구  37.603092  127.078876
717        화랑대역점  서울 중랑구 신내로25가길 2 (묵동, 현동학당)  중랑구  37.619451  127.084160

[718 rows x 5 columns]

## 3. 데이터 시각화